@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Poppins:wght@500&display=swap');

/* *
{
    margin-top: 2rem;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

body{
    display: flex;
    justify-content: center;
    align-items:center;
    background:blanchedalmond;

} */


/* .container{
    position: relative;
    width:1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding:30px ;

   
 */

.card {
    position: fixed;
    max-width: 300px;
    height: 400px;
    background: white;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.card:hover {
    height: 500px;
}

.card .image {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.card .image img {
    max-width: 100%;
    border-radius: 4px;
}

.card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

.card .content p {
    font-size: small;
}


/* downloaded */


/* === Google Font Import - Poppins === */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
} */

section #card {
    position: relative;
    height: 450px;
    width: 1075px;
    display: flex;
    align-items: center;
}

.swiper {
    width: 950px;
}

.card {
    position: relative;
    background: #fff;
    border-radius: 20px;
    margin: 20px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}


/* .card::before{
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: #ffffff;
  border-radius: 20px 20px 0 0;
} */

.card-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}


/* section .card .image{
  height: 50%;
  width: 50%;
  /* border-radius: 50%; */


/* padding: 3px;
  /* background: #7d2ae8; */


/* section .card .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* border-radius: 50%; */


/* border: 3px solid #fff; */

.swiper-pagination {
    position: absolute;
}

.swiper-pagination-bullet {
    height: 7px;
    width: 26px;
    border-radius: 25px;
    background: #7d2ae8;
}

.swiper-button-next,
.swiper-button-prev {
    opacity: 0.7;
    color: #7d2ae8;
    transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    opacity: 1;
    color: #7d2ae8;
}