* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.link {
    text-align: right;
}

.link a {
    text-decoration: none;
    margin: 10px;
}

.footer-lower {
    background: rgba(26, 178, 197, 0.55);
}

.socials a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(127, 127, 127, 0.2);
    margin: 10px 5px 10px 5px;
    text-align: center;
    line-height: 40px;
    border-radius: 25%;
    color: #fff;
}